body {
  background-image: url("sfondo.jpg");


}

#logo {

  height: 50px;
  width: auto;

}

h1 {
  display: inline;
  color: white;
}

#cerchio {
  display: inline block;
  width:100px;
	height:100px;
	border-radius:50px;
	background:orange;
  }
#contenuto-centrale {
  width: 50%;
  margin: 0 auto;
}

.messaggi {
  padding-top: 20px;
  font-size: 28px;
  font-weight: bold;
  color: white;

}
#checkbox {
  border: solid 2px;
  background-color: #C0C0C0;

}

.hrblack {
  border-color: black;
}


#peso {
  font-style: italic;
  display: inline;

}
footer {
  color: white;
  text-align: center;
}
#gmail {
  font-size: 28px;
}
